<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-body p-5">
          <h2 class="card-title text-center mb-4">Login</h2>
          
          <%= form_with(url: new_user_session_path, local: true) do |f| %>
            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>
            
            <div class="mb-3">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, class: "form-control", required: true %>
            </div>
            
            <div class="d-grid mb-3">
              <%= f.submit "Log In", class: "btn btn-primary" %>
            </div>
          <% end %>
          
          <div class="text-center">
            <p class="mb-1">Don't have an account? <%= link_to "Sign up", new_user_registration_path %></p>
            <%#= link_to "Forgot password?", password_reset_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>