<h1>Home</h1>

<%= button_to "Say Hello Async", report_path, remote: true %>
<% if current_user %>
  <h1>Admin: <%= current_user.admin? %></h1>
  <p><%= current_user.email %></p>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>