<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-body p-5">
          <h2 class="card-title text-center mb-4">Login</h2>
          
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>
            
            <div class="mb-3">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, class: "form-control", required: true %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            
            <div class="d-grid mb-3">
              <%= f.submit "Log In", class: "btn btn-primary" %>
            </div>
          <% end %>
          
          <div class="text-center">
            <p class="mb-1">Don't have an account? <br /><%= render "devise/shared/links" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>