<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Video" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="container-fluid">
        <div class="row">
          <%= render "/admin/shared/admin_dashboard" %>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
            <%= yield %>
          </main>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
